<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/default_layout">
<div>
    <th:block layout:fragment="content">
        <h1>Analyze Detail Page</h1>
        <h2 th:text="${forecastGroup.getName}"></h2>

        <div>Sort Buttons(uder construction)</div>
        <button id="sortDiffAscButton">Diff</button>
        <button id="sortQuantityASCButton">Large</button>
        <button id="sortQuantityDescButton">Small</button>
        <button id="updatedAscButton">Updated</button>
        <script th:inline="javascript">

            function updateURL(param) {
                const currentUrl = window.location.href;

                const baseUrl = currentUrl.split('?')[0];
                const newUrl = `${baseUrl}?${param}`;

                window.location.href = newUrl;
            }

            document.getElementById('sortDiffAscButton').addEventListener('click', function () {
                updateURL('diff=asc');
            });

            document.getElementById('sortQuantityASCButton').addEventListener('click', function () {
                updateURL('quantity=asc');
            });

            document.getElementById('sortQuantityDescButton').addEventListener('click', function () {
                updateURL('quantity=desc');
            });

            document.getElementById('updatedAscButton').addEventListener('click', function () {
                updateURL('updated=asc');
            });
        </script>


        <table>
            <thead>
                <tr>
                    <th class="common" colspan="3">Common</th>
                    <th colspan="3">Forecast</th>
                    <th class="result" colspan="3">Result</th>

                </tr>

                <tr>
                    <th class="common">Name</th>
                    <th class="common">Unit</th>
                    <th class="common">Diff.</th>

                    <th>ID</th>
                    <th>Updated</th>
                    <th>Qty.</th>

                    <th class="result">ID</th>
                    <th class="result">Updated</th>
                    <th class="result">Qty.</th>
                </tr>
            </thead>


            <tbody>
                <tr th:each="forecast : ${forecasts}">
                    <td th:text="${forecast.getName}"></td>
                    <td th:text="${forecast.getUnit}"></td>
                    <td th:text="${forecast.formattedDiff}"></td>
                    <td th:text="${forecast.getId}"></td>
                    <td th:text="${forecast.formattedUpdatedDate}"></td>
                    <td th:text="${forecast.formattedQuantity}"></td>
                    <td th:text="${forecast.getLastResult.getId}"></td>
                    <td th:text="${forecast.getLastResult.formattedUpdatedDate}"></td>
                    <td th:text="${forecast.getLastResult.formattedQuantity}"></td>
                </tr>
            </tbody>

            <tbody>
                <tr>
                    <!-- TestData-->
                    <td>1</td>
                    <td>2</td>
                    <td>-5</td>
                    <td>101010</td>
                    <td>101</td>
                    <td>2</td>
                    <td>101010</td>
                    <td>5</td>
                    <td>5</td>
                </tr>
            </tbody>


        </table>

        <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js"></script>

        <div id="main" style="width: 600px;height:600px;"></div>
        <script th:inline="javascript">
            var forecasts = [[${ forecasts }]]; // Get the list of forecasts from Thymeleaf
            var results = [[${ results }]]; // Get the list of results from Thymeleaf
            console.log(forecasts);

            // common
            var categories = [];

            // forecasts
            var forecasts_qty = [];
            var forecasts_updated = [];
            var forecasts_id = [];

            // results
            var results_qty = [];
            var results_updated = [];
            var results_id = [];

            // Loop through the forecasts data and populate the arrays
            for (var i = 0; i < forecasts.length; i++) {

                categories.push(forecasts[i].name);

                forecasts_qty.push(forecasts[i].quantity);
                forecasts_updated = forecasts[i].updatedDate;
                forecasts_id = forecasts[i].id;

                results_qty.push(results[i].quantity);
                results_updated = forecasts[i].updatedDate;
                results_id = forecasts[i].id;
            }

            // ECharts configuration
            var myChart = echarts.init(document.getElementById('main'));
            var option = {
                title: {
                    text: 'Forecast Quantities'
                },
                tooltip: {
                },
                legend: {
                    data: ['Forecast', 'Result']
                },
                xAxis: {
                    data: categories,  // Use the dynamic categories array here
                    axisLabel: {
                        rotate: 50,
                        textStyle: {
                            fontSize: 15
                        }
                    }
                },
                yAxis: {},
                series: [
                    {
                        name: 'Forecast',
                        type: 'bar',
                        data: forecasts_qty,  // Use the dynamic forecast quantities array here
                        itemStyle: {
                            color: '#009879'
                        }
                    },
                    {
                        name: 'Result',
                        type: 'bar',
                        data: results_qty,  // Use the dynamic result quantities array here
                        itemStyle: {
                            color: '#b35757'
                        }
                    }
                ],
                grid: {
                    left: '10%',
                    right: '10%',
                    bottom: '20%',
                    containLabel: true
                }
            };
            myChart.setOption(option);
        </script>


    </th:block>
</div>

</html>