<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<div>
    <th:block layout:fragment="content">
        <h2>Analyze Index Page</h2>

        <div>Download CSV</div>
        <form action="/api/download-csv" method="GET">
            <button type="submit">Download Button</button>
        </form>

        <h3>Search</h3>
        <form action="/forecast/index" method="GET">
            <input type="text" name="q" placeholder="Enter keyword">
            <button type="submit">Search</button>
        </form>
        <h4>List</h4>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Unit</th>
                <th>Forecast</th>
                <th>Result</th>
                <th>Diff</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="result : ${resultList}">
                <td th:text="${result.getForecastName}"></td>
                <td th:text="${result.unit}"></td>
                <td th:text="${result.getForecastQuantity}"></td>
                <td th:text="${result.formattedQuantity}"></td>
                <td th:text="${result.formattedDiff}"></td>
                <!--                            <td><a th:href="@{'/forecast/detail/' + ${forecast.id}}">Link</a></td>-->
            </tr>
            </tbody>
        </table>
    </th:block>
</div>
</html>