
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.label {
    width: 20%; /* Adjust width as needed */
    font-weight: bold;
}
.value {
    width: 80%; /* Adjust width as needed */
}


/*navbar*/
nav {
    background-color: #333;
    color: white;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
