@import './variables.css';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.label {
  width: 20%;
  /* Adjust width as needed */
  font-weight: bold;
}

.value {
  width: 80%;
  /* Adjust width as needed */
}


/*navbar*/
nav {
  background-color: #333;
  color: white;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 4px 10px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  padding 10px 10px;
  border-radius: 10px;
}

nav ul li a {
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin: 15px;
}

nav ul li a:hover {
  text-decoration: underline;
}


nav ul .forecast {
  background-color: var(--forecast-color);
}

nav ul .result {
  background-color: var(--result-color);
}

nav ul .common {
  background-color: var(--analysis-color);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  font-family: 'Arial', sans-serif;
  min-width: 400px;
}

thead tr {
  background-color: var( --forecast-color);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

thead tr .common {
  background-color: var( --analysis-color);
}

thead tr .result {
  background-color: var( --result-color);
}

th,
td {
  padding: 12px 15px;
  border: 1px solid #dddddd;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #3d3d3d;
}


tbody tr:hover {
  background-color: #f5f5f5;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width: 100%;
    padding: 12px 15px; /* 충분한 패딩 */
    margin: 8px 0; /* 간격 */
    border: 1px solid #ccc; /* 얇고 부드러운 테두리 */
    border-radius: 8px; /* 둥근 모서리 */
    font-size: 16px; /* 기본 폰트 크기 */
    background-color: #f9f9f9; /* 배경색 */
    box-sizing: border-box; /* padding, border 포함된 너비 */
    transition: border-color 0.3s, box-shadow 0.3s; /* 포커스 시 애니메이션 */
}

/* 포커스 시 스타일 */
input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #007bff; /* 포커스 시 테두리 색상 변경 */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25); /* 포커스 시 그림자 효과 */
    outline: none; /* 기본 아웃라인 제거 */
}

/* 버튼 스타일 */
button {
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* 버튼에 마우스를 올리면 색상 변경 */
}

/* 입력 필드 레이블 스타일 */
input[type="text"] + label,
input[type="number"] + label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}